.background{
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -1;
    background: url('../../assets/img/backGround.png') repeat-x;
    background-size: cover;
    /* animation: mover 30s linear infinite; */
    opacity: 0.3;
}

@keyframes mover{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 200% 0;
    }
}