.card{
    width: 100%;
    overflow: hidden;
    padding: 25px;
}

.card .nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .img{
    width: 100%;
    height: 270px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card .img img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    object-fit: cover;
    animation: rotate 20s linear infinite;
    animation-play-state: paused;
}

.card .img img.playing{
    animation-play-state: running;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

.card .hope{
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: rgb(0, 0, 0);
    z-index: 5;

}

.card canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
}

.card .details{
    width: 100%;
    text-align: center;
}

.card .details .title{
    font-size: 1.20rem;
    font-weight: 600;
}

.card .details .artist{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255,255,255,0.6);
}

.card .progress{
    width: 100%;
    margin-top: 15px;
}

.card .progress input[type="range"]{
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 0.8rem;
    color: #bbb
}

.timer{
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    color: #c1c1c1;
}

.card .controls{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card .controls #prev,
.card .controls #next{
    font-size: 1.5rem;
    user-select: none;
}

.card .controls .play{
    width: 3.20rem;
    height: 3.20rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.card .controls .play::before{
    content: '';
    position: absolute;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: inherit;;
}

.card .controls .play i{
    font-size: 3.5rem;
    background: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
}

.card .controls .volume{
    width:100%;
    height:50px;
    background: #333;
    position: absolute;
    bottom: -50%;
    left: 0;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    gap: 10px;
    z-index: 5;
    transition: bottom 0.3s linear;
}

.card .controls .volume.show{
    bottom: 0px;
}

.card .controls .volume input{
    width: 100%;
    height: 4px;
}